## Random forest con scikit-lear

In [1]:
#Importamos las librerias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#Cargamos el dataset a utilizar
df_diabetes = pd.read_csv('pima-indians-diabetes.csv', sep=',')

### Exploración de datos.

In [8]:
# Visualización del dataframe
df_diabetes.sample(10)

      6  148  72  35    0  33.6  0.627  50  1
561   1   87  68  34   77  37.6  0.401  24  0
271   3  122  78   0    0  23.0  0.254  40  0
145   9   57  80  37    0  32.8  0.096  41  0
718   5   97  76  27    0  35.6  0.378  52  1
588   0   73   0   0    0  21.1  0.342  25  0
629   7  114  64   0    0  27.4  0.732  34  1
646   0  179  50  36  159  37.8  0.455  22  1
282   7  161  86   0    0  30.4  0.165  47  1
179   6   87  80   0    0  23.2  0.084  32  0
11   10  139  80   0    0  27.1  1.441  57  0

In [9]:
#Renombramos las columnas
df_diabetes.columns = ['1. Number of times pregnant', '2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test', 
                       '3. Diastolic blood pressure (mm Hg)', '4. Triceps skin fold thickness (mm)', '5. 2-Hour serum insulin (mu U/ml)', 
                       '6. Body mass index (weight in kg/(height in m)^2)', '7. Diabetes pedigree function', '8. Age (years)', 
                       '9. Class variable (0 or 1)']

In [10]:
# Verificación d datos.
df_diabetes.head()

,1. Number of times pregnant,2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test,3. Diastolic blood pressure (mm Hg),4. Triceps skin fold thickness (mm),5. 2-Hour serum insulin (mu U/ml),6. Body mass index (weight in kg/(height in m)^2),7. Diabetes pedigree function,8. Age (years),9. Class variable (0 or 1)
0,1,85,66,29,0,26.6,0.351,31,0
1,8,183,64,0,0,23.3,0.672,32,1
2,1,89,66,23,94,28.1,0.167,21,0
3,0,137,40,35,168,43.1,2.288,33,1
4,5,116,74,0,0,25.6,0.201,30,0